<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterSer</servlet-name>
  	<display-name>RegisterSer</display-name>
  	<description></description>
  	<servlet-class>com.learn.mycart.servlets.RegisterSer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.mycart.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogniServlet</servlet-name>
  	<display-name>LogniServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.mycart.servlets.LogniServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.mycart.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductOperationServlet</servlet-name>
  	<display-name>ProductOperationServlet</display-name>
  	<description></description>
  	<servlet-class>com.learn.mycart.servlets.ProductOperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterSer</servlet-name>
  	<url-pattern>/RegisterSer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogniServlet</servlet-name>
  	<url-pattern>/LogniServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductOperationServlet</servlet-name>
  	<url-pattern>/ProductOperationServlet</url-pattern>
  </servlet-mapping>
</web-app>
